/* You can add global styles to this file, and also import other style files */

.myimg {
  height: 188px !important;
  width: 200px !important;
  margin-left: -21px !important;
}

.item-price {
  margin-top: 65px !important;
  margin-bottom: 10px !important;
}

.list-align {
  text-align: left !important;
}

.font-colors {
  color: rgb(39, 133, 221);
}

.text-aligns {
  text-align: center;
}
